*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  margin: 0 auto;
  width: 80%;
}

.panel{
  height: 60px;
}

.logo{
  height: 60px;
  padding-right: 15px;
  border-right: 1px solid lightgrey;
  margin-bottom: 20px;
}


nav li{

  /* per togliere i puntini della lista */
  list-style: none;

  /* per disporli orizontalmente */
  display: inline-block;

  padding-right: 10px;

}

/* per attaccare al bordo il menù */
/* nav li:first-child{
  margin-left: 0;
} */

nav li a, nav li a:visited{
  /* per tutto maiuscolo */
  text-transform: uppercase;
  color: grey;
  /* tolgo la sottolineatura */
  text-decoration: none;
}

nav li a:hover, nav li a:active{
  color: red;
}

.jumbotron{
  margin-top: 60px;
  margin-bottom: 30px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.opacity{
  background-color: rgba(0, 0, 0, 0.2) ;
}

.jumbotron, .ju{
  height: 300px;
  border-radius: 5px;
}

.margin-text{
  color: white;
  padding-left: 40px;
  padding-right: 150px;
  padding-top: 30%;
}

.title-text{
  font-size: 20px;
}

.subtitle-text{
  display: inline-block;
  /* font-size: 12px; */
}

.content{
  color:gray;
  margin-top: 20px;
}

.title-content{
  height: 50px;
}


.leadership{
  font-weight: bold;
  font-size: 25px;
  display: block;
  color: black;
}

.subtitle-leadership{
  color:grey
}

.illustration, .sid, .middle{
  background-position: center;
  background-size: contain;
  height: 100px;
  border-radius: 5px;
}

.right{
  background-image: url(../img/img-1.jpg);
}

.left{
  background-image: url(../img/img-3.jpg);
  
}

.left, .middle, .right{
  background-repeat: no-repeat;
  background-size: cover;
}

.middle{
  background-image: url(../img/banner-2.jpg);
}

.side, .central{
  float: left;
}

.side{
  width: 18%;
  margin: 1%;
}

.central{
  width: 60%;
  margin: 1% 0;
}

.title-side{
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 10px 0;
}

.end-panel{
  margin: 20px;
  color: black;
  text-align: center;
}

.hearts{
  color: red;
}